@import "/css/verbal.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
    font-family: var(--font-default);
}
/*==================
    cocvas the forms
 =================== */
.backRight {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: var(--theme-signup);
}

.backLeft {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--theme-login);
}

#back {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -999;
}

.canvas-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.logo{
    display: flex;
    flex-direction: column;
}
.Title{
margin-top: 15vh;
margin-left: 17%;
font-family: 'Rubik Dirt' ,sans-serif;
font-size: 8rem;
}
.subH1{
margin-left: 17%;
font-family: 'Rubik Dirt', sans-serif;
font-size: 2rem;
}
.subH2{
    width: 60%;
    margin-top: 5vh;
    margin-left: 17%;
    font-family: 'Montserrat',sans-serif;
    word-wrap: break-word;
    color: var(--theme-light)
}
.logo-Rigth{
color: var(--theme-login-darken);
}
.logo-Left{
    color:  var(--theme-signup-darken);
}
.subRigth{
    color: var(--theme-signup-darken)
}
.subLeft{
    color: var(--theme-login-darken)
}



#slideBox {
    width: 50%;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 50%;
    position: absolute;
    box-shadow:
        0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.topLayer {
    width: 200%;
    height: 100%;
    position: relative;
    left: 0;
    left: -100%;
}

label {
    font-size: 0.8em;
    text-transform: uppercase;
}

input {
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 1em;
    padding: 8px 1px;
    margin-top: 0.1em;
}

.left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: var(--theme-signup-background);
    left: 0;
    position: absolute;

    label {
        color: var(--theme-light);
    }

    input {
        border-bottom: 1px solid var(--theme-light);
        color: var(--theme-light);

        &:focus,
        &:active {
            border-color: var(--theme-signup);
            color: var(--theme-signup);
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px var(--theme-signup-background) inset;
            -webkit-text-fill-color: var(--theme-light);
        }
    }

    a {
        color: var(--theme-signup);
    }
}

.right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    background: var(--theme-login-background);
    right: 0;
    position: absolute;

    label {
        color: var(--theme-dark);
    }

    input {
        border-bottom: 1px solid var(--theme-dark);

        &:focus,
        &:active {
            border-color: var(--theme-login);
        }

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px var(--theme-login-background) inset;
            -webkit-text-fill-color: var(--theme-dark);
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.content h2 {
    font-weight: 300;
    font-size: 2.6em;
    margin: 0.2em 0 0.1em;
}

.left .content h2 {
    color: var(--theme-signup);
}

.right .content h2 {
    color: var(--theme-login);
}

.form-element {
    margin: 1.6em 0;

    &.form-submit {
        margin: 1.6em 0 0;
    }
}

.form-stack {
    display: flex;
    flex-direction: column;
}

.checkbox {
    -webkit-appearance: none;
    outline: none;
    background-color: var(--theme-light);
    border: 1px solid var(--theme-light);
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
}

.checkbox:focus,
.checkbox:checked:focus,
.checkbox:active,
.checkbox:checked:active {
    border-color: var(--theme-signup);
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox:checked {
    outline: none;
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox:checked:after {
    outline: none;
    content: "\2713";
    color: var(--theme-signup);
    font-size: 1.4em;
    font-weight: 900;
    position: absolute;
    top: -4px;
    left: 4px;
}

.form-checkbox {
    display: flex;
    align-items: center;

    label {
        margin: 0 6px 0;
        font-size: 0.72em;
    }
}

button {
    padding: 0.8em 1.2em;
    margin: 0 10px 0 0;
    width: auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
    color: #fff;
    line-height: 1em;
    letter-spacing: 0.6px;
    border-radius: 3px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.1);
    border: 0;
    outline: 0;
    transition: all 0.25s;

    &.signup {
        background: var(--theme-signup);
    }

    &.login {
        background: var(--theme-login);
    }

    &.off {
        background: none;
        box-shadow: none;
        margin: 0;

        &.signup {
            color: var(--theme-signup);
        }

        &.login {
            color: var(--theme-login);
        }
    }
}

button:focus,
button:active,
button:hover {
    box-shadow:
        0 4px 7px rgba(0, 0, 0, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.1);

    &.signup {
        background: var(--theme-signup-darken);
    }

    &.login {
        background: var(--theme-login-darken);
    }

    &.off {
        box-shadow: none;

        &.signup {
            color: var(--theme-light);
            background: var(--theme-dark);
        }

        &.login {
            color: var(--theme-dark);
            background: var(--theme-light);
        }
    }
}


