:root {
  /* Colours */
  --success: #5cb85c;
  --error: #d9534f;
  --pink: #ff4f9a;
  --green: #d5f570;
  --gray: #3f3f3f;
  --oWhit: #f5f2f2;
  --black: #000000;
  --nav-bg: #1c1c1c;

  /* Sizes */
  --hSize: 45pt;
  --sSize: 30pt;
  --pSize: 20pt;

  /* Fonts */
  --h: "Rubik Dirt", system-ui, sans-serif;
  --sH: "Montserrat", system-ui, sans-serif;
}