@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap");

:root {
  --success: #5cb85c;
  --error: #d9534f;
  --pink: #ff4f9a;
  --green: #d5f570;
  --black: #black;
  --gray: #3f3f3f;
  --oWhit: #f5f2f2;
  --black: #000000;
  --hSize: 45pt;
  --sSize: 30pt;
  --pSize: 20pt;
  --h: "Rubik Dirt", sans-serif;
  --sH: "Montserrat", sans-serif;
}
